*.pyc
simulator/**/*.osm
simulator/**/*.geojson
simulator/**/*.pbf
simulator/**/*.dbf
simulator/**/*.shp
simulator/**/*.shx
simulator/**/*.prj
simulator/cache/**
simulator/logs/**
simulator/graph.png
geographic_service/cache/**
geographic_service/geographic.egg-info/**
geographic_service/build/**
geographic_service/dist/**
